In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
library(readxl)
options(repr.matrix.max.rows = 6)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

In [2]:
root_fruct <- read_excel("data/root_data.xlsx", sheet = 2)

fruct <- root_fruct |> 
    mutate(treatment = "fructose") |> 
    pivot_longer(cols = col_0:cob_6, names_to = "plant_line", values_to = "root_length") |> 
    filter(root_length != "NA")

fruct

    treatment plant_line root_length
1   fructose  col_0      1.709
2   fructose  gcob       1.952
3   fructose  cob_1      1.497
⋮   ⋮         ⋮          ⋮
104 fructose  col_0      1.527
105 fructose  col_0      1.582
106 fructose  col_0      1.377

In [3]:
root_nacl <- read_excel("data/root_data.xlsx", sheet = 3) 
nacl <- root_nacl |> 
    mutate(treatment = "nacl") |> 
    pivot_longer(cols = col_0:cob_6, names_to = "plant_line", values_to = "root_length") |> 
    filter(root_length != "NA")

nacl

    treatment plant_line root_length
1   nacl      col_0      4.122
2   nacl      gcob       4.292
3   nacl      cob_1      2.784
⋮   ⋮         ⋮          ⋮
103 nacl      col_0      4.894
104 nacl      col_0      4.600
105 nacl      col_0      4.322

In [4]:
root_sorb <- read_excel("data/root_data.xlsx", sheet = 4)
sorb <- root_sorb |> 
    mutate(treatment = "sorbital") |> 
    pivot_longer(cols = col_0:cob_6, names_to = "plant_line", values_to = "root_length") |> 
    filter(root_length != "NA")

sorb

   treatment plant_line root_length
1  sorbital  col_0      1.623
2  sorbital  gcob       1.482
3  sorbital  cob_1      0.316
⋮  ⋮         ⋮          ⋮
92 sorbital  col_0      0.893
93 sorbital  col_0      1.388
94 sorbital  col_0      1.090

In [5]:
root_cont <- read_excel("data/root_data.xlsx", sheet = 5)
control <- root_cont |> 
    mutate(treatment = "control") |> 
    pivot_longer(cols = col_0:cob_6, names_to = "plant_line", values_to = "root_length") |> 
    filter(root_length != "NA")

control

    treatment plant_line root_length
1   control   col_0      3.650
2   control   gcob       5.102
3   control   cob_1      3.863
⋮   ⋮         ⋮          ⋮
117 control   col_0      3.706
118 control   col_0      4.474
119 control   col_0      4.786

In [6]:
root_sucr <- read_excel("data/root_data.xlsx", sheet = 6)
sucr <- root_sucr |> 
    mutate(treatment = "sucrose") |> 
    pivot_longer(cols = col_0:cob_6, names_to = "plant_line", values_to = "root_length") |> 
    filter(root_length != "NA")

sucr

    treatment plant_line root_length
1   sucrose   col_0      1.567
2   sucrose   gcob       1.868
3   sucrose   cob_1      0.312
⋮   ⋮         ⋮          ⋮
106 sucrose   col_0      3.020
107 sucrose   col_0      2.674
108 sucrose   col_0      2.140

In [7]:
root_man <- read_excel("data/root_data.xlsx", sheet = 7)
man <- root_man |> 
    mutate(treatment = "manitol") |> 
    pivot_longer(cols = col_0:cob_6, names_to = "plant_line", values_to = "root_length") |> 
    filter(root_length != "NA")

man

   treatment plant_line root_length
1  manitol   col_0      1.215
2  manitol   gcob       0.590
3  manitol   cob_1      0.278
⋮  ⋮         ⋮          ⋮
69 manitol   col_0      0.978
70 manitol   col_0      0.891
71 manitol   col_0      0.824

In [9]:
root_data <- bind_rows(fruct, nacl, sorb, control, sucr, man)

root_data

    treatment plant_line root_length
1   fructose  col_0      1.709
2   fructose  gcob       1.952
3   fructose  cob_1      1.497
⋮   ⋮         ⋮          ⋮
601 manitol   col_0      0.978
602 manitol   col_0      0.891
603 manitol   col_0      0.824